.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.images {
  width: 350px;
  height: 300px;
  margin-right: 15px;
}
.list {
  min-height: 70vh;
}

.cover {
  height: 290px;
  width: 100%;
  background-image: url("./cover2.jpeg");
  background-size: cover;
  background-position-y: 100%;
  border: 5px solid rgb(65, 59, 59);
}

.search {
  height: 55vh;
}
footer {
  height: 30px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #2d3436;
  background-image: linear-gradient(360deg, #2d3436 0%, #d3d3d3 100%);
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid black;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.title {
  color: white;
  background-color: #d1d5db4f;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.page {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.page:hover {
  background: red;
}
.input {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.Active {
  background-color: red !important;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.img-responsive {
  width: 100% !important;
  height: 100% !important;
  margin: 20px;
}
a.item {
  color: rgb(17, 17, 17);
  padding: 8px;
  background-color: white;
  border: 0.5px solid rgb(94, 93, 93);
  margin: 1px;
  min-height: 40px;
  min-width: 40px;
  text-align: center;
}
a.item:hover {
  background: rgb(179, 175, 175);
}
a.active {
  background: rgb(179, 175, 175);
}
@media screen and (max-width: 600px) {
  a.item {
    min-width: 10px;
    min-height: 10px;
    font-size: x-small;
  }
}
