.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card {
  width: 10rem;
}
.images {
  height: 150px;
}
.list {
  min-height: 70vh;
}

.cover {
  height: 290px;
  width: 100%;
  background-image: url("./cover.jpeg");
  background-size: cover;
  background-position-y: 340px;
}
.card:hover {
  background-color: blue;
}
.search {
  height: 65vh;
}
footer {
  height: 30px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #2d3436;
  background-image: linear-gradient(360deg, #2d3436 0%, #d3d3d3 94%);
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid black;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
